<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "SunnyThakral.jpg" %>
	</div>

	<div id="content">
		<h1>Hi, I'm Sunny Thakral</h1>
		<p>I have built this blog using Rails 4. This is just a way for me to get my hands dirty with the Ruby on Rails framework.</p>
		<p> Follow me on GitHub, to view some more of my projects <a href="https://github.com/sunnythakral"> Sunny Thakral</a></p>
	</div>
</div>